<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="globals.css" />
    <link rel="stylesheet" href="{{ url_for('static', filename='n_result3.css') }}" />

    <script>
      let lastScrollLeft = 0;

      // 스크롤 방향 감지 및 스크롤 이벤트 처리
      window.addEventListener('scroll', function() {
        let scrollLeft = window.pageXOffset || document.documentElement.scrollLeft;
        if (scrollLeft > lastScrollLeft) {
          // 오른쪽으로 스크롤되면 n_result2.html로 이동
          window.location.href = "{{ url_for('n_result2') }}";
        }
        lastScrollLeft = scrollLeft;
      }, false);
        // group-76.svg 클릭 시 n_result1.html로 이동하는 함수
      function goToCResult1() {
        window.location.href = "{{ url_for('n_result1') }}";
      }
    </script>
  </head>
  <body>
    <div class="element">
      <div class="div">
        <img class="large-vec" src="{{ url_for('static', filename='nervous_img3/large-vec.png') }}" alt="Large Vec" />
        <div class="overlap-group">
          <img class="mid-vec" src="{{ url_for('static', filename='nervous_img3/mid-vec.svg') }}" alt="Mid Vec" />
          <img class="star-vec" src="{{ url_for('static', filename='nervous_img3/star-vec.svg') }}" alt="Star Vec" />
          <img class="title-vec" src="{{ url_for('static', filename='nervous_img3/title-vec.svg') }}" alt="Title Vec" />
          <p class="tip"><span class="text-wrapper">오류 감소 </span> <span class="span">tip</span></p>
          <p class="p">
            <span class="text-wrapper-2">01<br /></span>
            <span class="text-wrapper-3">나의 걱정만큼 큰 일은 일어나지<br />않으니,</span>
            <span class="text-wrapper-5">걱정을 조금 줄여도 좋다.</span>
          </p>
          <p class="div-2">
            <span class="text-wrapper-2">02<br /></span>
            <span class="text-wrapper-3">말하기 전, 혹시</span>
            <span class="text-wrapper-5">내 걱정이 날카롭게<br />전달되진 않을지</span>
            <span class="text-wrapper-3">생각해본다.</span>
          </p>
          <img class="side-rect" src="{{ url_for('static', filename='nervous_img3/side-rect.svg') }}" alt="Side Rect" />
          <p class="div-3">
            <span class="text-wrapper-2">03<br /></span>
            <span class="text-wrapper-5">반복적인 표현 시,</span>
            <span class="text-wrapper-3">오류 발생 확률이 높아지니 주의해야 한다.</span>
          </p>
          <img class="fm-vec" src="{{ url_for('static', filename='nervous_img3/fm-vec.svg') }}" alt="FM Vec" />
          <img class="line-vec" src="{{ url_for('static', filename='nervous_img3/line-vec-2.png') }}" alt="Line Vec 2" />
          <img class="img" src="{{ url_for('static', filename='nervous_img3/line-vec-1.png') }}" alt="Line Vec 1" />
        </div>
        <img class="arr" src="{{ url_for('static', filename='nervous_img3/arr-3.svg') }}" alt="Arr 3" />
        <img class="arr-2" src="{{ url_for('static', filename='nervous_img3/arr-2.svg') }}" alt="Arr 2" />
        <img class="arr-3" src="{{ url_for('static', filename='nervous_img3/arr-1.svg') }}" alt="Arr 1" />
        <img class="back-vec" src="{{ url_for('static', filename='nervous_img3/group-76.svg') }}" alt="Back Vec" onclick="goToCResult1()"/>
        <div class="text-wrapper-6">조마조마 주파수</div>
      </div>
    </div>
  </body>
</html>
