<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <link rel="stylesheet" href="globals.css" />
  <link rel="stylesheet" href="{{ url_for('static', filename='start_3.css') }}" />
</head>
<body>
  <div class="screen">
    <div class="div">
      <div class="text-wrapper">연구를 시작하기 전,<br />이름을 입력해주세요.</div>
      <div class="text-wrapper-2">2글자, 한글로 입력해주세요.</div>
      <img class="line-vec" src="{{ url_for('static', filename='start_img3/line-vec.png') }}" />
      
      <!-- 폼 태그 추가 -->
      <form action="/start_3" method="POST">
        <input
          type="text"
          name="username"  
          class="input-field"
          placeholder="이름 입력"
          pattern="^[가-힣]{2}$"
          required
        />
        <button type="submit" class="button-vec">
          <div class="text-wrapper-3">입력</div>
        </button>
      </form>
    </div>
  </div>
</body>
</html>
